# VS Code settings
/.vscode

# pytest cache
/.pytest_cache

# Python cache files
__pycache__/
*.py[cod]

# Build / packaging
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Benchmarks
/benchmarks